@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 33% 96%;
    --foreground: 247 100% 21%;
    --muted: 249 12% 90%;
    --muted-foreground: 249 12% 30%;
    --popover: 249 33% 93%;
    --popover-foreground: 247 100% 11%;
    --card: 249 33% 94%;
    --card-foreground: 247 100% 16%;
    --border: 249 23% 91%;
    --input: 249 23% 88%;
    --primary: 247 78% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 247 30% 75%;
    --secondary-foreground: 247 30% 15%;
    --accent: 249 33% 81%;
    --accent-foreground: 249 33% 21%;
    --destructive: 0 81.82% 43.14%;
    --destructive-foreground: 0 100% 93.14%;
    --ring: 247 78% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 207 95% 8%;
    --foreground: 201 83% 81%;
    --muted: 207 12% 15%;
    --muted-foreground: 207 12% 65%;
    --popover: 207 95% 5%;
    --popover-foreground: 201 83% 91%;
    --card: 207 95% 6%;
    --card-foreground: 201 83% 86%;
    --border: 207 85% 13%;
    --input: 207 85% 16%;
    --primary: 205 85% 78%;
    --primary-foreground: 205 85% 18%;
    --secondary: 205 30% 25%;
    --secondary-foreground: 205 30% 85%;
    --accent: 207 95% 23%;
    --accent-foreground: 207 95% 83%;
    --destructive: 8 91% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 205 85% 78%;
  }



  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }
}
